﻿<template>
  <div>
    <beautiful-chat
        :participants="participants"
        :titleImageUrl="titleImageUrl"
        :title="'Afforai'"
        :onMessageWasSent="onMessageWasSent"
        :messageList="messageList"
        :newMessagesCount="newMessagesCount"
        :isOpen="isChatOpen"
        :close="closeChat"
        :icons="icons"
        :open="openChat"
        :showEmoji="true"
        :showFile="false"
        :showEdition="true"
        :showDeletion="true"
        :deletionConfirmation="true"
        :showHeader="true"
        :showTypingIndicator="showTypingIndicator"
        :showLauncher="true"
        :showCloseButton="true"
        :colors="colors"
        :alwaysScrollToBottom="alwaysScrollToBottom"
        :disableUserListToggle="true"
        :messageStyling="messageStyling"
        @onType="handleOnType"
        @edit="editMessage"/>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: 'app',
  data() {
    return {
      participants: [
        {
          id: 'Afforai',
          name: 'Afforai',
          imageUrl: window.location.origin + "/images/logo-new-violet.png"
        }
      ],
      titleImageUrl: window.location.origin + "/images/logo-new-violet.png",
      messageList: [
        {type: 'text', author: `Afforai`, data: {text: `Xin chào, tôi có thể giúp gì cho bạn?`}}
      ],
      newMessagesCount: 0,
      isChatOpen: false,
      showTypingIndicator: '',
      colors: {
        header: {
          bg: '#4e8cff',
          text: '#ffffff'
        },
        launcher: {
          bg: '#4e8cff'
        },
        messageList: {
          bg: '#ffffff'
        },
        sentMessage: {
          bg: '#4e8cff',
          text: '#ffffff'
        },
        receivedMessage: {
          bg: '#eaeaea',
          text: '#222222'
        },
        userInput: {
          bg: '#f4f7f9',
          text: '#565867'
        }
      },
      alwaysScrollToBottom: false,
      messageStyling: true
    }
  },
  methods: {
    sendMessage(text) {
      if (text.length > 0) {
        this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1
        this.onMessageWasSent({author: 'support', type: 'text', data: {text}})
      }
    },
    onMessageWasSent(message) {
      // called when the user sends a message
      this.messageList = [...this.messageList, message]
      let self = this;
      self.showTypingIndicator = 'Afforai';
      let messages = this.messageList.filter(x => x.author === 'me').map(x => x.data.text);
      axios.post('/api/chatbot/completion', {history: messages})
          .then(response => {
            self.messageList = [...this.messageList, {
              author: 'Afforai',
              type: 'text',
              data: {
                text: response.data.completion
              }
            }]
            self.showTypingIndicator = '';
          })
          .catch(error => {
            console.log(error.message);
            self.showTypingIndicator = '';
          })
    },
    openChat() {
      // called when the user clicks on the fab button to open the chat
      this.isChatOpen = true
      this.newMessagesCount = 0
    },
    closeChat() {
      // called when the user clicks on the botton to close the chat
      this.isChatOpen = false
    },
    handleScrollToTop() {
      // called when the user scrolls message list to top
      // leverage pagination for loading another page of messages
    },
    handleOnType() {
      console.log('Emit typing event')
    },
    editMessage(message) {
      const m = this.messageList.find(m => m.id === message.id);
      m.isEdited = true;
      m.data.text = message.data.text;
    }
  }
}
</script>
<style scoped>
.sc-header--img {
  max-width: 50px !important;
}
</style>