﻿<template>
  <div class="editor-container">
    <div class="editor"/>
  </div>
</template>

<script>
import {defineComponent} from 'vue';
import MyCustomUploadAdapterPlugin from '../uploadAdapter'
import ClassicEditor from 'ckeditor5-custom-build/build/ckeditor'

export default defineComponent({
  components: {},
  props: [],
  data() {
    return {
      imageManage: {
        images: []
      }
    }
  },
  mounted() {
    ClassicEditor
        .create(document.querySelector('.editor'), {
          toolbar: {
            items: [
              'heading', '|',
              'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
              'bulletedList', 'numberedList', 'todoList', '|',
              'outdent', 'indent', '|',
              'undo', 'redo',
              '-',
              'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
              'alignment', '|',
              'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
              'specialCharacters', 'horizontalLine', 'pageBreak', '|',
              'textPartLanguage', '|',
              'sourceEditing'
            ]
          },
          heading: {
            options: [
              {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
              {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
              {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'},
              {model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3'},
              {model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4'},
              {model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5'},
              {model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6'}
            ]
          },
          fontFamily: {
            options: [
              'default',
              'Arial, Helvetica, sans-serif',
              'Courier New, Courier, monospace',
              'Georgia, serif',
              'Lucida Sans Unicode, Lucida Grande, sans-serif',
              'Tahoma, Geneva, sans-serif',
              'Times New Roman, Times, serif',
              'Trebuchet MS, Helvetica, sans-serif',
              'Verdana, Geneva, sans-serif'
            ],
            supportAllValues: true
          },
          fontSize: {
            options: [10, 12, 14, 'default', 18, 20, 22],
            supportAllValues: true
          },
          removePlugins: ['Title'],

        })
        .then(editor => {
          window.editor = editor;
          MyCustomUploadAdapterPlugin(editor, this.imageManage);
          // document.getElementById('btnSubmit').addEventListener('click', () => {
          //   const content = editor.getData();
          //   console.log(content);
          // });
        })
        .catch((error) => {
          let i = 0;
        });
  },
  methods: {
    getData() {
      let content = window.editor.getData();
      let images = [];
      if (this.imageManage?.images) {
        this.imageManage.images.forEach(function (item) {
          if (content.includes(item)) {
            images.push(item);
          }
        })
      }
      return {
        content: content,
        images: images
      }
    }
  }
})
</script>
<style scoped>
.editor-container {
  color: black;
}
</style>