﻿<template>
  <select id="asdas" v-model="selectedSector" @change="this.selectedSectorChange($event) ">
    <option v-for="(item, index) in sectors" :value="item.id" :key="index">{{ item.name }}</option>
  </select>
  <select id="as33" v-model="selectedEnterprise" @change="this.selectedEnterpriseChange($event)">
    <option v-for="(item, index) in enterprises" :value="item.id" :key="index">{{ item.name }}</option>
  </select>
  <div class="items-container">
    <div class="card" v-for="s in posts">
      <img :src="s.imageUrl??'https://www.w3schools.com/howto/img_avatar.png'" alt="Avatar" style="height: 217px">
      <div class="container">
        <h4><b>{{ s.postType }}</b></h4>
        <h4><b>{{ s.title }}</b></h4>
      </div>
      <div class="actions">
        <button class="btn-edit" @click="this.editClick(s.id)">Sửa</button>
        <button class="btn-delete" @click="this.deleteClick(s.id)">Xóa</button>
      </div>
    </div>
  </div>
  <a-modal v-model:visible="openModalConfirm" title="Basic Modal" @ok="handleOk">
    <p>Xác nhận xóa</p>
  </a-modal>
</template>


<script>
import axios from "axios";

export default ({
  data() {
    return {
      sectors: [{
        id: '',
        name: '',
      }],
      selectedSector: '',
      enterprises: [
        {
          id: '',
          name: '',
          code: '',

        }
      ],
      sector2Enterprises: {},
      selectedEnterprise: '',
      posts: [
        {
          id: '',
          post_type: '',
          title: ''
        }
      ],
      enterprise2Posts: {},
      selectedDeleteId: '',
      openModalConfirm: false
    }
  },
  methods: {
    getSectors() {
      let self = this;
      axios.get('/get-all-sectors', {withCredentials: true})
          .then(response => {
            if (response.status === 200) {
              self.sectors = response.data;
              if (self.sectors && self.sectors.length > 0) {
                self.selectedSector = self.sectors[0].id;
                this.getEnterprises(self.selectedSector);
              }

            }
          })
          .catch(error => {
            window.alert(error.message);
          })
    },
    getEnterprises(id) {
      let self = this;
      if (self.sector2Enterprises[id]) {
        self.enterprises = self.sector2Enterprises[id];
      } else {
        axios.get(`/get-enterprises-by-sector-id/${id}`, {withCredentials: true})
            .then(response => {
              if (response.status === 200) {
                self.enterprises = response.data;
                self.sector2Enterprises[id] = response.data;
                if (self.enterprises && self.enterprises.length > 0) {
                  self.selectedEnterprise = self.enterprises[0].id;
                  self.getPosts(self.selectedEnterprise);
                }
              }
            })
            .catch(error => {
              window.alert(error.message);
            })
      }
    },
    getPosts(id) {
      let self = this;
      if (self.enterprise2Posts[id]) {
        self.posts = self.enterprise2Posts[id];
      } else {
        axios.get(`/get-posts-by-enterprise-id/${id}`, {withCredentials: true})
            .then(response => {
              if (response.status === 200) {
                self.posts = response.data;
                self.enterprise2Posts[id] = response.data;
              }
            })
            .catch(error => {
              window.alert(error.message);
            })
      }
    },
    selectedSectorChange($event) {
      this.getEnterprises($event.target.value)
    },
    selectedEnterpriseChange($event) {
      this.getPosts($event.target.value)
    },
    editClick(id) {

    },
    deleteClick(id) {
      this.selectedDeleteId = id;
      this.openModalConfirm = true;
    },
    handleOk(e) {
      this.openModalConfirm = false;
      let self = this;
      axios.post(`/delete-post/${this.selectedDeleteId}`, {withCredentials: true})
          .then(response => {
            if (response.status === 200) {
              window.alert("Ok");
              let post = self.posts.find(s => s.id === self.selectedDeleteId);
              if (post) {
                const index = self.posts.indexOf(post);
                if (index > -1) {
                  self.posts.splice(index, 1);
                }
              }
              this.selectedDeleteId = '';
            }
          })
          .catch(error => {
            window.alert(error.message);
          })
    },
  },

  mounted() {
    this.getSectors();
  }
})
</script>


<style scoped>
.items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.actions .btn-edit {
  background-color: blue;
  color: white;
  margin: 5px;
}

.actions .btn-delete {
  background-color: red;
  color: white;
  margin: 5px;
}
</style>