<template>
  <div class="card">
    <img :src="'https://www.w3schools.com/howto/img_avatar.png'" alt="Avatar" style="height: 217px">
    <div class="container">
      <h4><b>{{ this.title }}</b></h4>
      <p>{{ this.content }}</p>
    </div>
    <div class="actions">
      <button class="btn-edit" @click="this.editClick">Sửa</button>
      <button class="btn-delete" @click="this.deleteClick">Xóa</button>
    </div>
  </div>
</template>
<script>
export default ({
      props: ['title', 'content', 'type', 'idItem'],
      methods: {
        editClick() {
          this.$emit('edit', this.idItem, this.type);
        },
        deleteClick() {
          this.$emit('delete', this.idItem, this.type);
        }
      }
    }
)
</script>
<style scoped>

</style>