﻿<template>
  <div class="items-container">
    <div class="card" v-for="s in sectors">
      <img :src="s.imageUrl??'https://www.w3schools.com/howto/img_avatar.png'" alt="Avatar" style="height: 217px">
      <div class="container">
        <h4><b>{{ s.name }}</b></h4>
      </div>
      <div class="actions">
        <button class="btn-edit" @click="this.editClick(s.id)">Sửa</button>
        <button class="btn-delete" @click="this.deleteClick(s.id)">Xóa</button>
      </div>
    </div>
  </div>
  <a-modal v-model:visible="openModalConfirm" title="Basic Modal" @ok="handleOk">
    <p>Xác nhận xóa</p>
  </a-modal>
</template>
<script>
import axios from "axios";

export default ({
  components: {},
  data() {
    return {
      sectors: [{
        id: '',
        name: ''
      }],
      enterprises: [
        {
          id: '',
          name: '',
          code: ''
        }
      ],
      posts: [
        {
          id: '',
          title: '',
          post_type: ''
        }
      ],
      openModalConfirm: false,
      selectedDeleteId: ''
    }
  },
  methods: {
    getSectors() {
      axios.get('/get-all-sectors', {withCredentials: true})
          .then(response => {
            if (response.status === 200) {
              this.sectors = response.data;
            }
          })
          .catch(error => {
            window.alert(error.message);
          })
    },
    editClick(id) {

    },
    deleteClick(id) {
      this.selectedDeleteId = id;
      this.openModalConfirm = true;
    },
    handleOk(e) {
      this.openModalConfirm = false;
      let self = this;
      axios.post(`/delete-sector/${this.selectedDeleteId}`, {withCredentials: true})
          .then(response => {
            if (response.status === 200) {
              window.alert("Ok");
              let sectorFound = self.sectors.find(s => s.id === self.selectedDeleteId);
              if (sectorFound) {
                const index = self.sectors.indexOf(sectorFound);
                if (index > -1) {
                  self.sectors.splice(index, 1);
                }
              }
              this.selectedDeleteId = '';
            }
          })
          .catch(error => {
            window.alert(error.message);
          })
    }
  },
  mounted() {
    this.getSectors();
  }
})
</script>
<style scoped>
.items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.actions .btn-edit {
  background-color: blue;
  color: white;
  margin: 5px;
}

.actions .btn-delete {
  background-color: red;
  color: white;
  margin: 5px;
}

</style>