﻿<template>
  <a-layout-sider v-model:collapsed="collapsed" collapsible  :trigger="null" :width="248">
    <div class="title-menu-content">
      <UnorderedListOutlined style="color: white;"/>
      <span>Stock Social</span>
    </div>
    <a-menu v-model:selectedKeys="selectedKeys" theme="dark" mode="inline" >
      <!-- <a-sub-menu key="sub1">
        <template #title>
            <span>
              <team-outlined />
              <span>Storage</span>
            </span>
        </template>
        <router-link :to="{name: 'hotel'}">
          <a-menu-item key="6">Cộng đồng</a-menu-item>
        </router-link>
        <router-link :to="{name: 'amenity'}">
          <a-menu-item key="7">Amenity</a-menu-item>
        </router-link>
        <router-link :to="{name: 'mapping'}">
          <a-menu-item key="8">Amenity Mapping</a-menu-item>
        </router-link>
      </a-sub-menu> -->
      <router-link :to="{name: 'home'}">
        <a-menu-item key="1" style="background-color: transparent;" >
        <HomeOutlined />
        <span>Cộng đồng</span>
      </a-menu-item>
      </router-link>
      <div class="Rectangle-menu"/>
      <a-menu-item key="2" style="background-color: transparent;">
        <LineChartOutlined />
        <span>Phân tích cơ bản</span>
      </a-menu-item>
      <div class="Rectangle-menu"/>
      <a-menu-item key="3" style="background-color: transparent;">
        <ThunderboltOutlined />
        <span>Đầu Cơ</span>
      </a-menu-item>
      <div class="Rectangle-menu"/>
      <div class="title-menu-content-sub">
      <span>cá nhân</span>
      </div>
      <router-link :to="{name: 'content-management'}">
      <a-menu-item key="4" style="background-color: transparent;">
        <FontColorsOutlined />
        <span>Bài viết của tôi</span>
      </a-menu-item>
       </router-link>
      <div class="Rectangle-menu"/>
      <a-menu-item key="5" style="background-color: transparent;">
        <HistoryOutlined />
        <span>Lịch sử giao dịch</span>
      </a-menu-item>
      <div class="Rectangle-menu"/>
      <a-menu-item key="6" style="background-color: transparent;">
        <FlagOutlined />
        <span>Notes</span>
      </a-menu-item>
      <div class="Rectangle-menu"/>
    </a-menu>
  </a-layout-sider>
</template>

<script>
import { HistoryOutlined, FontColorsOutlined, ThunderboltOutlined, LineChartOutlined, HomeOutlined,UnorderedListOutlined, FlagOutlined } from '@ant-design/icons-vue';

export default {
  name: "Menu",
  components: {
    HistoryOutlined,
    FontColorsOutlined,
    ThunderboltOutlined,
    LineChartOutlined,
    HomeOutlined,
    UnorderedListOutlined,
    FlagOutlined
  },
  data() {
    return {
      collapsed: false,
      selectedKeys: ['1'],
    };
  },
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}
.Rectangle-menu{
  width: 248px;
  height: 0.8px;
  flex-shrink: 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.30) 50.4%, rgba(255, 255, 255, 0.00) 96.77%);
  background-blend-mode: overlay;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
  color: rgba(255, 255, 255, 0.65);
  background: linear-gradient(168deg, #2E335A 1.62%, #1C1B33 95.72%);
}
.ant-layout-sider{
  padding-top: 56px;
  min-height: 1056px;
  height: 100vh;
  min-width: 248px;
  background: linear-gradient(168deg, #2E335A 1.62%, #1C1B33 95.72%);
}
.ant-menu-dark.ant-menu-inline .ant-menu-item{
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #2E335A, #1C1B33);
}
.title-menu-content{
  display: inline-flex;
  padding: 16px 50px 16px 24px;
  align-items: flex-end;
  gap: 10px;
}
.title-menu-content > span{
  color: #FFF;
  font-family: Malva Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 26px */
}
.title-menu-content-sub{
  height: 56px;
  display: flex;
  align-items: center;
}
.title-menu-content-sub > span{
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
  text-transform: uppercase;
  padding-left: 16px;
}
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span, .ant-menu-dark .ant-menu-item-selected .anticon + span {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 22.1px */
}
.ant-menu-item .anticon{
  align-items: center;
  font-size: 19px;
}
.title-menu-content .anticon{
  margin: auto;
  min-width: 15px;
    font-size: 15px;
    transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s;
}
.ant-menu-inline > .ant-menu-item{
  height: 56px;
  line-height: 56px;
}

.ant-menu-inline > .ant-menu-item{
  height: 56px;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background: radial-gradient(50% 128.57% at 50% -36.61%, #8015A7 0%, rgba(97, 54, 144, 0.00) 100%) !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
  background: radial-gradient(50% 128.57% at 50% -36.61%, #8015A7 0%, rgba(97, 54, 144, 0.00) 100%) !important;
}
</style>