<template >
    <a-layout class="layout">
      <a-layout-header>
        <div class="layout-title-detail">
                <h1>{{ postDetail.title }}</h1>
        </div>
        <a-tabs
          v-model:activeKey="activeKey"
          :tabBarStyle="{ color: 'rgba(255, 255, 255, 0.60)', border: 'none' }"
        >
            <a-tab-pane key="1" :tab="postDetail.title" id="title-detail-tab">
                <div v-html="postDetail.content" id="htmlContainer">
                </div>
            </a-tab-pane>
          <a-tab-pane key="1" tab="Chu trình kinh doanh">
            <div v-html="postDetail.content" id="htmlContainer">
            </div>
          </a-tab-pane>
        <a-tab-pane key="2" tab="Các khoản mục quan trọng" force-render>
        </a-tab-pane>
        <a-tab-pane key="3" tab="Câu chuyện doanh nghiệp" force-render>
        </a-tab-pane>
        <a-tab-pane key="4" tab="Định giá đơn giản" force-render>
        </a-tab-pane>
        </a-tabs>
      </a-layout-header>
      <div class="line-tabs"></div>
      <div class="line-sub-tabs"></div>
    </a-layout>
</template>
<script>
import axios from 'axios';
export default {

    created(){
        this.currentId = this.$route.params.id;
        this.getPostById();
    },
    data(){
        return{
            currentId : null,
            postDetail: {
                title: '',
                content : ''
            }
        }
    },
    methods: {
        async getPostById() {
            let response = await axios({
                method: 'post',
                url: '/api/get-post-by-id',
                data: {
                    id: this.currentId
                },
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                withCredentials: true
            });
            console.log(response.data)
            this.postDetail = response.data;
        },
    },

}
</script>
<style scoped>
#title-detail-tab{
    color: #fff !important;
}
#htmlContainer{
    width: 1289px;
    color: #fff;
}
h1{
    margin: 0;
}
.ant-form-item-label > label{
    color: #d8d8d8 !important;
}
.ant-tabs-top > .ant-tabs-nav::before {
  content: none; /* Remove content from the ::before pseudo-element */
  height: 0; /* Set height to 0 to hide the pseudo-element */
  border: none; /* Remove any border from the pseudo-element */
}
.ant-layout-header {
  display: flex;
  height: 56px;
  padding: 10px 0px 10px 16px;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  height: 56px;
  line-height: 56px;
  background: linear-gradient(168deg, #2e335a 1.62%, #1c1b33 95.72%);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}
.line-tabs {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0.51%,
    rgba(255, 255, 255, 0.6) 55.62%,
    rgba(255, 255, 255, 0) 99.68%
  );
  background-blend-mode: overlay;
}
.line-sub-tabs {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0.51%,
    rgba(255, 255, 255, 0.6) 55.62%,
    rgba(255, 255, 255, 0) 99.68%
  );
  background-blend-mode: overlay;
}
.line-sub-selected {
  margin: auto;
}
.tox-statusbar__branding {
  display: none;
}
.main-content {
  padding: 32px 48px 0px 56px;
}
.layout-title-detail{
    display: none;
    align-items: center;
    width: 350px;
    height: 46px;
    flex-shrink: 0;
    background: rgba(74, 34, 34, 0.00);
}
.layout-title-detail > h1 {
    color: #FFF;
    line-height: 46px;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
}

</style>