<template>
  <a-layout class="layout">
    <a-layout-header>
      <a-tabs v-model:activeKey="activeKey" :tabBarStyle="{ color: 'rgba(255, 255, 255, 0.60)', border: 'none' }">
        <a-tab-pane key="1" tab="Mới Nhất">
          <div class="main-content">
            <a-form name="validate_other">
              <a-form-item
                  label="Tiêu đề bài viết"
                  name="title"
                  :rules="[{ required: false, message: 'Vui lòng nhập tiêu đề !' }]">
                <a-input v-model:value="form.title"/>
              </a-form-item>
              <a-form-item
                  label="Banner"
                  name="title"
                  :rules="[{ required: false, message: 'Vui lòng thêm link ảnh !' }]">
                <a-input v-model:value="form.banner"/>
              </a-form-item>

              <a-form-item :wrapper-col="{ offset: 8, span: 16 }" style="padding-top: 10px;">
                <a-button type="primary" @click="insertOrUpdateHotel()">Submit</a-button>
              </a-form-item>
            </a-form>
          </div>
        </a-tab-pane>
        <a-tab-pane key="2" tab="Đánh giá cao nhất" force-render>
        </a-tab-pane>
      </a-tabs>
    </a-layout-header>
    <div class="line-tabs"></div>
    <div class="line-sub-tabs"></div>
  </a-layout>
</template>
<script>
import axios from 'axios';

export default ({
  props: ['hotelDetail', 'languageCodes'],
  data() {
    return {
      newHotelDetail: null,
      form: {
        title: '',
        banner: '',
        content: ''
      },
    }
  },
  created() {

  },
  methods: {
    async insertOrUpdateHotel() {
      console.log(this.form)
      const self = this;
      let url = '/api/insert-post';
      let response = await axios({
        method: 'post',
        url: url,
        data: this.form,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        withCredentials: true
      });
      if (response.status === 200) {
        self.successMessage = true;
      } else {
        self.errorMessage = true;
      }
      this.$emit('onInsertOrUpdateHotel', this.form);
    }
  }
});
</script>
<style>
.ant-form-item-label > label {
  color: #d8d8d8 !important;
}

.ant-tabs-top > .ant-tabs-nav::before {
  content: none; /* Remove content from the ::before pseudo-element */
  height: 0; /* Set height to 0 to hide the pseudo-element */
  border: none; /* Remove any border from the pseudo-element */
}

.ant-layout-header {
  display: flex;
  height: 56px;
  padding: 10px 0px 10px 16px;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  height: 56px;
  line-height: 56px;
  background: linear-gradient(168deg, #2e335a 1.62%, #1c1b33 95.72%);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}

.line-tabs {
  width: 100%;
  height: 1px;
  background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0.51%,
      rgba(255, 255, 255, 0.6) 55.62%,
      rgba(255, 255, 255, 0) 99.68%
  );
  background-blend-mode: overlay;
}

.line-sub-tabs {
  display: flex;
  justify-content: center;
  background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0.51%,
      rgba(255, 255, 255, 0.6) 55.62%,
      rgba(255, 255, 255, 0) 99.68%
  );
  background-blend-mode: overlay;
}

.line-sub-selected {
  margin: auto;
}

.tox-statusbar__branding {
  display: none;
}

.main-content {
  padding: 32px 48px 0px 56px;
}
</style>