﻿<template>
  <a-card hoverable>
    <template #cover>
      <img class="image" alt="example" :src="this.sector.image_url"/>
    </template>
    <a-card-meta :title="this.sector.name">

    </a-card-meta>
    <div class="enterprises">
      <a v-for="enterprise in this.sector.enterprises" :href="'/enterprise/'+enterprise.id"
         @click.stop="this.linkClick">{{ enterprise.code }}</a>
    </div>
  </a-card>

</template>
<script>
import {SettingOutlined, EditOutlined, EllipsisOutlined} from '@ant-design/icons-vue';

export default ({
  components: {
    SettingOutlined,
    EditOutlined,
    EllipsisOutlined,
  },
  props: ['sector'],
  methods: {
    linkClick(event) {
      event.stopPropagation();
    }
  }
})
</script>
<style scoped>
.enterprises {
  margin-top: 5px;
}

.enterprises a {
  margin: 10px 10px 10px 0;
  font-weight: bold;
}

.image {
  height: 217px;
}
</style>