<template>
  <div style="background-color: #2264A2; min-height: 100vh;">
    <div class="header">
      <div class="logo">
        <img :src="logo" @click="this.$router.push('/home')">
      </div>
      <ul>
        <li>
          <a href="/home">Trang chủ</a>
        </li>
        <li>
          <a href="/story">Câu chuyện doanh nghiệp</a>
        </li>
        <li>
          <a href="/process">Quy trình đầu tư</a>
        </li>
        <li>
          <a href="/q&a">Hỏi đáp đầu tư</a>
        </li>
        <li v-if="this.userName">
          <a href="/create-sector-enterprise">Tạo ngành | doanh nghiệp</a>
        </li>
        <li v-if="this.userName">
          <a href="/create-post">Tạo bài viết</a>
        </li>
        <li v-if="this.userName">
          <a href="/management">Quản lý nội dung</a>
        </li>
      </ul>
      <div class="search-bar">

      </div>
      <div class="user">
        <div v-if="this.userName">
          <!--          <h4>{{ this.userName }}</h4>-->
          <a :href="logoutPath">Đăng xuất</a>
        </div>
        <a v-else :href="loginPath">Đăng nhập</a>
      </div>
    </div>
    <div class="slogan">
      <hr>
      <h3>
        THINK SIMPLE MAKE DIFERENCE
      </h3>
      <hr/>
    </div>
    <div class="content">
      <router-view></router-view>
    </div>
    <ChatBot v-if="this.userName"/>
  </div>

</template>
<script>
import Menu from '../Components/Menu.vue'
import {SearchOutlined} from '@ant-design/icons-vue';
import axios from "axios";
import ChatBot from "../Components/ChatBot.vue";

export default {
  components: {
    Menu,
    SearchOutlined,
    ChatBot
  },
  data() {
    return {
      logo: window.location.origin + '/images/logo.png',
      loginPath: window.location.origin + '/account/login',
      logoutPath: window.location.origin + '/log-out',
      userName: ''
    }
  },
  methods: {
    getUserInfo() {
      let self = this;
      axios.get('/get-user-info', {withCredentials: true})
          .then(response => {
            if (response.status === 200) {
              this.userName = response.data.userName;
              self.$store.commit('changeLoginValue', true);
            } else {
              this.userName = '';
            }
          })
          .catch(error => {
            console.log(error.message);
          })
    }
  },
  mounted() {
    this.getUserInfo();
  }
}
</script>
<style scoped>
.header {
  display: flex;
  flex-direction: row;
}

.slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slogan h3 {
  color: white;
}

hr {
  flex-grow: 1;
  color: white; /* Đặt màu cho đường */
  border: none; /* Loại bỏ viền */
  background-color: white; /* Đặt màu nền giống màu của đường để làm dày */
  height: 3px; /* Đặt độ dày của đường */
  box-shadow: 0 0 4px 0 #666;
}

.logo > img {
  max-width: 300px;
  margin: 10px;
}

.nav {
  margin: 0;
}

ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-left: 0;
}

li {
  list-style-type: none;
  align-items: center;
  display: flex;
}

li > a {
  color: white;
  align-items: center;
  font-size: medium;
  margin: 10px;
}

.user {
  flex-grow: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user h4, a {
  margin: 5px;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 1700px) {
  li > a {
    font-size: 15px;
  }

  ul {
    padding-left: 10px;
  }

  .logo > img {
    max-width: 250px;
    margin: 10px;
  }
}

@media only screen and (max-width: 1366px) {

  li {
    margin: 0px;
    margin-left: 15px;
  }

  li > a {
    font-size: 15px;
  }

  ul {
    padding-left: 10px;
  }

  .logo > img {
    max-width: 250px;
    margin: 10px;
  }
}
</style>