﻿<template>
  <div class="main-post-creator" @change="createTypeChanged($event)">
    <select v-model="selectedCreateType">
      <option v-for="(item, index) in createTypes" :value="item" :key="index">{{ item }}</option>
    </select>
    <form>
      <div v-if="selectedCreateType === 'Ngành'">
        <div class="form-group">
          <label>Tên ngành:</label>
          <input type="text" v-model="sectorName" class="form-control title"/>
        </div>
        <!--        <div class="form-group">-->
        <!--          <label>Mã ngành:</label>-->
        <!--          <input type="text" v-model="sectorCode" class="form-control title"/>-->
        <!--        </div>-->
        <div class="form-group">
          <label>Ảnh thẻ ngành:</label>
          <input type="file" ref="imageSector" @change="this.handleFileUpload('sector')">
          <img v-if="this.sectorImageUrl !== null && this.sectorImageUrl !== ''"
               :src="this.sectorImageUrl"
               alt="Preview" class="preview-image card"/>
        </div>
      </div>
      <div v-else>
        <label style="display: block;">Chọn ngành: </label>
        <select v-model="selectedSector">
          <option v-for="(item, index) in sectors" :value="item.id">{{ item.name }}</option>
        </select>
        <div class="form-group">
          <label>Doanh nghiệp:</label>
          <input type="text" v-model="enterpriseName" class="form-control title"/>
        </div>
        <div class="form-group">
          <label>Mã Doanh nghiệp:</label>
          <input type="text" v-model="enterpriseCode" class="form-control title"/>
        </div>
        <div class="form-group">
          <label>Ảnh thẻ doanh nghiệp:</label>
          <input type="file" ref="imageEnterprise" @change="this.handleFileUpload('enterprise')">
          <img v-if="this.enterpriseImageUrl !== null && this.enterpriseImageUrl !== ''"
               :src="this.enterpriseImageUrl"
               alt="Preview" class="preview-image card"/>
        </div>
      </div>
      <button id="btnSubmit" @click.prevent="this.submitPost()">Submit</button>
    </form>
  </div>
</template>
<script>
import axios from 'axios';

export default ({
  data() {
    return {
      createTypes: ['Ngành', 'Doanh nghiệp'],
      selectedCreateType: 'Ngành',
      sectorImageUrl: '',
      enterpriseImageUrl: '',
      sectors: [{name: 'Nông sản', id: '123'}, {name: 'Vật liệu xây dựng', id: '456'}],
      selectedSector: '123',
      sectorName: '',
      sectorCode: '',
      enterpriseName: '',
      enterpriseCode: '',
      visible: false,
      modalContent: ''
    }
  },
  methods: {

    handleOk() {
      this.visible = false;
    },
    createTypeChanged(event) {
      console.log(event.target.value)
      if (event.target.value === 'Doanh nghiệp') {
        axios.get('/get-all-sectors')
            .then(response => {
              if (response.status === 200) {
                this.sectors = response.data;
                if (this.sectors && this.sectors.length > 0) {
                  this.selectedSector = this.sectors[0].id;
                }
              }
            })
            .catch(error => {
              console.error(error);
            });
      }
    },
    handleFileUpload(type) {
      if (type === 'sector') {
        let file = this.$refs.imageSector.files[0];
        this.sectorImageUrl = URL.createObjectURL(file);
        this.hasChangeCardImage = true;
      } else if (type === 'enterprise') {
        let file = this.$refs.imageEnterprise.files[0];
        this.enterpriseImageUrl = URL.createObjectURL(file);
        this.hasChangeBannerImage = true;
      }
    },
    submitPost() {
      let formData = new FormData();
      let path = '';
      if (this.selectedCreateType === 'Ngành') {
        path = '/create-sector'
        formData.append("name", this.sectorName);
        // formData.append("code", this.sectorCode);
        formData.append("imageUrl", this.$refs.imageSector.files[0]);
      } else {
        path = '/create-enterprise'
        formData.append("name", this.enterpriseName);
        formData.append("code", this.enterpriseCode);
        formData.append("sectorId", this.selectedSector);
        formData.append("imageUrl", this.$refs.imageEnterprise.files[0]);
      }
      axios.post(path, formData, {withCredentials: true})
          .then(response => {
            if (response.status == 200) {
              window.alert("Tạo thành công");
              this.resetValues();
            }
          })
          .catch(error => {
            window.alert(error.message);
          });
    },
    resetValues() {
      this.sectorName = '';
      this.sectorCode = '';
      this.sectorImageUrl = '';
      this.enterpriseName = '';
      this.enterpriseCode = '';
      this.enterpriseImageUrl = '';
    }
  }
})
</script>
<style scoped>
.main-post-creator {
  padding: 0 5%;
}

.title {
  max-width: 700px;
}

img {
  max-width: 700px;
}

label {
  color: white;
}
</style>