﻿<template>
  <div class="main-container">
    <div class="enterprise-nav">
      <a @click="this.changePost('overview')" class="enterprise-name"><h1><u>{{ this.enterprise?.name }}</u></h1></a>
      <div class="sub-post-nav">
        <a @click="this.changePost('chutrinh')"><h2><u>Chu trình kinh doanh</u></h2></a>
        <a @click="this.changePost('hangmuc')"><h2><u>Các khoản mục quan trọng</u></h2></a>
        <a @click="this.changePost('cauchuyen')"><h2><u>Câu chuyện doanh nghiệp</u></h2></a>
        <a @click="this.changePost('dinhgia')"><h2><u>Định giá đơn giản</u></h2></a>
      </div>
    </div>
    <div class="ck-content content" v-html="this.selectedPostContent">

    </div>
    <div class="comments">

    </div>
    <div class="footer">

    </div>
  </div>
</template>
<script>
import axios from "axios";

export default ({
  data() {
    return {
      enterprise: {
        id: '',
        name: '',
        code: '',
        posts: [{
          post_type: '',
          content: ''
        }]
      },
      selectedPostContent: ''
    }
  },
  mounted() {
    this.getEnterpriseDetail();
  },
  methods: {
    getEnterpriseDetail() {
      let enterpriseId = this.$route.params.id;
      if (enterpriseId) {
        axios.get('/get-enterprise-detail/' + enterpriseId, {withCredentials: true})
            .then(response => {
              if (response.status === 200) {
                this.enterprise = response.data[0];
                this.changePost('overview');
              }
            })
            .catch(error => {
              console.log(error.message);
            })
      }
    },
    changePost(postType) {
      this.selectedPostContent = this.enterprise?.posts?.find(e => e.post_type === postType)?.content;
    }
  }
})
</script>
<style scoped>
.content {
  margin-top: 50px;
}
.main-container {
  padding: 0 10%;
}
h1, h2 {
  color: white;
  font-weight: bold;
}
h2 {
  font-size: large;
  
}
.enterprise-nav {
  display: flex;
  align-items: center;
}

.enterprise-nav h3 {
  color: white;
  line-height: 2;
}

.enterprise-nav .enterprise-name {
  flex-grow: 1;
}

.enterprise-nav .sub-post-nav {
  flex-grow: 3;
}

.sub-post-nav {
  display: flex;
  flex-direction: row;
}

.sub-post-nav a {
  margin: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: white;
}

.footer {
  min-height: 200px;
}
@media only screen and (max-width: 1366px) {
  
  .main-container {
    padding: 0 5%;
  }
}
</style>