﻿<template>
  <h1 style="color: white; margin-left: 50px">{{ this.content }}</h1>
</template>
<script>
export default ({
  data() {
    return {
      content: ''
    }
  },
  mounted() {
    if (this.$store.state.isLogin) {
      this.content = "Tính năng sẽ sớm được cập nhật";
    } else {
      this.content = "Hãy đăng nhập để khám phá tính năng này";
    }

  },
  computed: {
    isLogin() {
      return this.$store.state.isLogin;
    }
  }
})
</script>
<style scoped>

</style>