<template>
  <H2>Các nhóm ngành</H2>
  <div class="sectors">
    <sector-card class="card" v-for="(item, index) in sectors" @click="this.$router.push({path: `/overview-sector/${item.id}`})" :key="index" :sector="item"/>
  </div>

</template>

<script>
import axios from 'axios';
import ContentEditor from "../Components/ContentEditor.vue";
import SectorCard from "../Components/SectorCard.vue";

export default {
  name: "Home",
  components: {ContentEditor, SectorCard},
  created() {
  },
  data() {
    return {
      sectors: [],
    };
  },
  mounted() {
    this.getSectors();
  },
  methods: {
    getSectors() {
      axios.get('/get-all-sectors-with-enterprises', {withCredentials: true})
          .then(response => {
            if (response.status === 200) {
              this.sectors = response.data;
            }
          })
          .catch(error => {
            console.log(error.message);
          });
    },
  },
};
</script>

<style scoped>
h2 {
  color: white;
  padding-left: 5%;
}

.sectors {
  display: flex;
  flex-wrap: wrap;;
  max-width: 100vw;
  gap: 10px;
  padding: 0 5%;
}
.card{
  width: 300px;
}
@media only screen and (max-width: 1366px) {

  .card{
    width: 295px;
  }
}
</style>
