﻿<template>
  <div class="main-post-creator">
    <form>
      <div class="form-group">
        <label>Tiêu đề:</label>
        <input type="text" v-model="title" class="form-control title"/>
      </div>
      <div class="select-options">
        <p>Bài viết cho: </p>
        <select v-model="selectedPostCategory">
          <option v-for="(item,index) in postCategories" :value="item">{{ item }}</option>
        </select>
        <p>Chọn ngành: </p>
        <select v-model="selectedSector" @change="selectedSectorChanged($event)">
          <option v-for="(item,index) in sectors" :key="index" :value="item.id">{{ item.name }}</option>
        </select>
        <p v-if="selectedPostCategory === 'Doanh Nghiep'">Chọn doanh nghiệp: </p>
        <select v-if="selectedPostCategory === 'Doanh Nghiep'" v-model="selectedEnterprise">
          <option v-for="(item,index) in enterprises" :key="index" :value="item.id">{{ item.name }}</option>
        </select>
        <p v-if="selectedPostCategory === 'Doanh Nghiep'">Loại bài viết: </p>
        <select v-model="postType" v-if="selectedPostCategory === 'Doanh Nghiep'">
          <option v-for="(item,index) in postTypes" :key="index" :value="item.id">{{ item.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Ảnh thẻ:</label>
        <input type="file" ref="fileCard" @change="this.handleFileUpload('card')">
        <img v-if="this.previewCardImageUrl !== null && this.previewCardImageUrl !== ''"
             :src="this.previewCardImageUrl"
             alt="Preview" class="preview-image card"/>
      </div>

    </form>
    <ContentEditor ref="contentEditor"/>
    <button id="btnSubmit" @click.prevent="this.submitPost()">Submit</button>
    <div class="footer">

    </div>
  </div>
</template>
<script>
import ContentEditor from '../Components/ContentEditor.vue'
import axios from "axios";

export default ({
  components: {ContentEditor},
  data() {
    return {
      title: '',
      postCategories: ['Nganh', 'Doanh Nghiep'],
      selectedPostCategory: 'Nganh',
      sectors: [],
      selectedSector: '',
      enterprises: [],
      selectedEnterprise: '',
      previewCardImageUrl: '',
      postTypes: [{
        id: "overview",
        name: 'Overview'
      }, {
        id: "chutrinh",
        name: 'Chu trình kinh doanh'
      }, {
        id: "hangmuc",
        name: 'Các khoản mục quan trọng'
      }, {
        id: "cauchuyen",
        name: 'Câu chuyện doanh nghiệp'
      }, {
        id: "dinhgia",
        name: 'Định giá đơn giản'
      }],
      postType: 'overview'
    }
  },
  mounted() {
    this.getSectors();
  },
  methods: {
    handleMenuClick(e) {
      console.log('click', e);
    },
    selectedSectorChanged($event) {
      let value = $event.target.value;
      let selectedSector = this.sectors.find(s => s.id === value);
      if (selectedSector) {
        this.enterprises = selectedSector.enterprises;
        if (this.enterprises && this.enterprises.length > 0) {
          this.selectedEnterprise = this.enterprises[0].id;
        }
      }
    },
    getSectors() {
      axios.get('/get-all-sectors-with-enterprises')
          .then(response => {
            if (response.status === 200) {
              this.sectors = response.data;
              if (this.sectors && this.sectors.length > 0) {
                this.selectedSector = this.sectors[0].id;
                this.enterprises = this.sectors[0].enterprises;
                if (this.enterprises && this.enterprises.length > 0) {
                  this.selectedEnterprise = this.enterprises[0].id;
                }
              }
            }
          })
          .catch(error => {
            console.error(error);
          });
    },
    handleFileUpload(imageType) {
      if (imageType === 'card') {
        let file = this.$refs.fileCard.files[0];
        this.previewCardImageUrl = URL.createObjectURL(file);
        this.hasChangeCardImage = true;
      } else if (imageType === 'banner') {
        let file = this.$refs.fileBanner.files[0];
        this.previewBannerImageUrl = URL.createObjectURL(file);
        this.hasChangeBannerImage = true;
      }
    },
    submitPost() {
      let data = this.$refs.contentEditor.getData();
      let formData = new FormData();
      formData.append("title", this.title);
      if (this.selectedPostCategory === 'Doanh Nghiep') {
        formData.append("enterpriseId", this.selectedEnterprise);
      } else {
        formData.append("sectorId", this.selectedSector);
      }
      formData.append("postType", this.postType);
      formData.append("content", data.content);
      if (data?.images) {
        data.images.forEach(function (image) {
          formData.append("imagesInContent", image);
        })
      }
      formData.append("cardImage", this.$refs.fileCard.files[0]);
      axios.post('/create-post', formData, {
        withCredentials: true,
      })
          .then(response => {
            if (response.status == 200) {
              window.alert('Ok');
            }
          })
          .catch(error => {
            window.alert(error.message);
          });
    }
  }
})
</script>
<style scoped>

.main-post-creator {
  padding: 0 5%;
}

.select-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.title {
  max-width: 700px;
}

label {
  color: white;
}

img {
  max-width: 500px;
}

.select-options p {
  line-height: 1.5;
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: white;
}

.footer {
  min-height: 200px;
}
</style>