<template>
  <!--  <select v-model="selectedManagementType">-->
  <!--    <option v-for="(item, index) in managementTypes" :value="item.id">{{ item.name }}</option>-->
  <!--  </select>-->
  <div class="management-nav">
    <a @click="this.$router.push({name:'sector'})"><h3>Quản lý ngành</h3></a>
    <a @click="this.$router.push({name:'enterprisem'})"><h3>Quản lý doanh nghiệp</h3></a>
    <a @click="this.$router.push({name:'post'})"><h3>Quản lý bài viết</h3></a>
  </div>
  <div class="management-content">
    <router-view></router-view>
  </div>
</template>
<script>
import ManagementCard from "../Components/ManagementCard.vue";
import axios from "axios";

export default ({
  components: {ManagementCard},
  data() {
    return {
      managementTypes: [{id: 'sector', name: 'Ngành'}, {id: 'enterprise', name: 'Doanh Nghiệp'}, {
        id: 'post',
        name: 'Bài viết'
      }],
      selectedManagementType: 'sector',
      sectors: [{
        id: '',
        name: ''
      }],
      enterprises: [
        {
          id: '',
          name: '',
          code: ''
        }
      ],
      posts: [
        {
          id: '',
          title: '',
          post_type: ''
        }
      ]
    }
  },
  methods: {
    deleteItem(id, type) {
      axios.post('/delete-' + type + `/${id}`, {withCredentials: true})
          .then(response => {
            if (response.status === 200) {
              window.alert('ok');
            }

          })
          .catch(error => {
            window.alert(error.message);
          })
    },
    editItem(id, type) {
      this.$router.push(`/edit/${type}/${id}`);
    }
  }
})
</script>
<style scoped>
.management-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
  font-weight: bold;
  margin: 20px;
}

.management-content {
  padding: 20px;
}
h3 {
  color: white;
}
</style>