﻿<template>
  <div class="main-content">
    <div class="sector-banner">
      <img :src="this.sector.image_url">
      <h1>{{ this.sector.name }}</h1>
    </div>
    <div class="containerr">
      <div class="post-content ck-content" v-html="this.sector?.post_contents?.at(0)?.content ?? ''">
      </div>
      <div class="list-enterprises">
        <h3>Top 5 mã cổ phiếu nổi bật của ngành</h3>
        <a v-for="(item,index) in  this.sector.enterprises" :key="index"
           @click="this.$router.push('/enterprise/'+item.id)">{{ `${item.code} - ${item.name}` }}</a>
      </div>
    </div>
    <div class="footer">

    </div>
  </div>

</template>
<script>
import axios from "axios";

export default ({
  data() {
    return {
      sector: {}
    }
  },
  mounted() {
    let sectorId = this.$route.params.id;
    if (sectorId) {
      axios.get('/get-sector-detail/' + sectorId, {withCredentials: true})
          .then(response => {
            if (response.status === 200) {
              this.sector = response.data[0];
            }
          })
          .catch(error => {
            console.log(error.message);
          })
    }
  }
})
</script>
<style scoped>
.main-content {
  padding: 0 50px;
}

.sector-banner {
  position: relative;
}

.sector-banner img {
  border: 1px solid white;
  border-radius: 10px;
  max-width: 100%;
  max-height: 300px;
}

.sector-banner h1 {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: white;
}

h3 {
  color: white;
}

.containerr {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;

}

.post-content {
  width: 70%;
  min-height: 500px;
  background-color: #e3e3e3;
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  color: black;
}

.list-enterprises {
  width: 30%;
  background-color:  #e3e3e3;
  border: 3px solid white;
  border-radius: 10px;
  align-self: flex-start;
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 10px;
  min-height: 500px;
}

.list-enterprises h3, a {
  color: #174571;
  font-weight: bold;
}

.list-enterprises > a {
  font-size: 20px;
  color: #174571;
}

a:hover {
  color: green !important;
  cursor: pointer !important;
}

.footer {
  min-height: 200px;
}


@media only screen and (max-width: 1700px) {
  li > a {
    font-size: 15px;
  }

  .logo > img {
    max-width: 250px;
    margin: 5px;
  }
  

  .list-enterprises > a {
    font-size: 15px;
    color: #174571;
  }
  .list-enterprises > h3 {
    font-size: 20px;
    color: #174571;
  }
}
</style>