﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lúa hóa chứng khoán</title>
    <link rel="icon" href="images/01.png" type="image/x-icon"/>
    <link rel="stylesheet" href="~/css/content-styles.css" type="styles.css">
    <link rel="stylesheet" href="~/css/main.css" type="styles.css">
</head>

<body>
@RenderBody()
@RenderSection("scripts", required: false)
</body>

</html>